<div class="container">
    <h1>Edit Song</h1>
    <form id="edit" action="/song/{{songId}}/edit" method="POST">
        <input type="text" name="updatedSongName" placeholder="Enter a new song name">
        <button type="submit">Update Song</button>
    </form>
</div>